automatizaciones/Incidencias-MongoDB.json
{
  "name": "Incidencias-MongoDB",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -128,
        0
      ],
      "id": "6f3cff16-bdec-4906-b0bc-a6830b26edec",
      "name": "Telegram Trigger",
      "webhookId": "8de54221-1f0e-4d5c-ae7e-6a8845a7eacc",
      "credentials": {
        "telegramApi": {
          "id": "7RdjJsV17qIFtCPU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Eres un asistente técnico diseñado para registrar incidencias de forma extremadamente eficiente y concisa. Tu objetivo es obtener 3 datos obligatorios usando la menor cantidad de mensajes posibles:\n\nDATOS OBLIGATORIOS A RECOPILAR:\n\nNombre y apellidos del usuario.\n\nDescripción del problema.\n\nTipo de incidencia (Clasifícalo tú mismo basándote en la descripción: Hardware, Software, Red, o Dudas).\n\nREGLAS ESTRICTAS DE RESPUESTA:\n\nCero rodeos: No uses saludos largos, no preguntes \"cómo estás\" ni des explicaciones innecesarias.\n\nDeducción: Si el usuario te describe el problema, deduce tú el \"Tipo de incidencia\". NO le preguntes de qué tipo es a menos que sea imposible deducirlo.\n\nAgrupa preguntas: Si faltan 2 o más datos (por ejemplo, falta el nombre y una buena descripción), pídelos TODOS en la misma respuesta. Nunca envíes un mensaje para pedir el nombre y otro para pedir el problema.\n\nConfirmación final: Si ya tienes los 3 datos, responde únicamente con un mensaje de confirmación breve que resuma la incidencia (Ej: \"Listo, [Nombre]. Tu incidencia de [Tipo] por [Problema] ha sido registrada.\").\n\nEvalúa el mensaje del usuario, revisa qué datos obligatorios faltan y responde siguiendo estas reglas.\n\n\"Una vez que tengas los 3 datos obligatorios (Nombre, Descripción y Tipo), utiliza la herramienta \"Call 'CrearIncidenciaSubWorkflow'\" para registrar la incidencia. No des por finalizado el proceso hasta que la herramienta confirme que se ha guardado.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "c24e6d22-412a-4496-aaa6-928bdeea489f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=v11-{{ $json.message.chat.id.toString() }}",
        "sessionTTL": 600
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        224,
        256
      ],
      "id": "feb54ef1-67c8-45b1-9373-95a47bb6ecf9",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "B6fCZWPIpXGXl8oF",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        592,
        16
      ],
      "id": "71610cfc-86a4-44d3-8d6a-02f3be2a7d52",
      "name": "Send a text message",
      "webhookId": "4b2e42e0-0efd-427c-afc9-b22b78e2b22b",
      "credentials": {
        "telegramApi": {
          "id": "7RdjJsV17qIFtCPU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen/qwen3-32b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "4b787603-4997-4751-9289-5e2a084a13ba",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "84R2V96J4WsRRDsI",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "description": "Úsala SOLO para registrar una nueva incidencia técnica en la base de datos. Para ejecutar esta herramienta, DEBES pasarle exactamente estos 5 parámetros SOLO en formato JSON:\n\n\"nombre\": El nombre del usuario (obligatorio).\n\n\"apellidos\": Los apellidos del usuario (obligatorio).\n\n\"descripcion\": La explicación detallada del problema (obligatorio).\n\n\"IP\": La dirección IP del usuario (opcional, deja en blanco si no la sabes).\n\n\"tipo\": Clasifica el problema estrictamente como 'hardware', 'software' o 'red'.\n\nNo ejecutes esta herramienta hasta que le hayas pedido al usuario su nombre y apellidos.",
        "workflowId": {
          "__rl": true,
          "value": "a0iMRlJ8WXrwmhxP",
          "mode": "list",
          "cachedResultUrl": "/workflow/a0iMRlJ8WXrwmhxP",
          "cachedResultName": "CrearIncidenciaSubWorkflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        448,
        192
      ],
      "id": "e0107eb9-35fc-4311-a077-103d96c1250d",
      "name": "Call 'CrearIncidenciaSubWorkflow'"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Call 'CrearIncidenciaSubWorkflow'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "93118aa3-99e6-4efe-88d7-c2d835a4a1c8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c84ccd9e0bdfa924c417a93cc117b98d8521e2030a2a89435162cafc5f0bda08"
  },
  "id": "1DDrYGy2X8Mv9HQk",
  "tags": []
}